*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: whitesmoke;
  background-color: #ecbff7;

  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  background-image: url("../images/butterfly.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  background: none;
}

img {
  display: block;
  max-width: 100%;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
