.header-section {
  width: 90%;
  padding-top: 12px;
  max-width: 1158px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  gap: 25px;
}
.theme-btn,
.to-menu-btn {
  font-weight: 300;
  color: whitesmoke;
  border-radius: 16px;
  padding: 8px 12px;
  width: 79px;
  height: 36px;
  background: rgba(182, 137, 210, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
